<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQgiVjfNDl8FFUwTn6rnQiNlKRHG93J_8</string>
	<key>GCM_SENDER_ID</key>
	<string>15129086803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sheild</string>
	<key>PROJECT_ID</key>
	<string>sheild-097</string>
	<key>STORAGE_BUCKET</key>
	<string>sheild-097.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15129086803:ios:095e5a74920032ba7a2fa6</string>
	<key>CLIENT_ID</key>
	<string>15129086803-i47hg26do0gtjus0f64cn1os3lo8qc36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15129086803-i47hg26do0gtjus0f64cn1os3lo8qc36</string>
</dict>
</plist>